<section id="orders" data-channel="orders">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Order Date</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Price</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render orders %>
    </tbody>
  </table>
</section>
