@import "bootstrap-sprockets";
@import "bootstrap";

@import "AdminLTE";
@import "skins/skin-blue-light";

.content-wrapper {
  padding: 100px;
  height: 100%;
}

.mid-text {
  text-align: center;
  font-weight: bold;
}

.logo-small {
  color: #5bb641;
  font-size: 50px;
}
.logo {
  color: #5bb641;
  font-size: 200px;
}