@import "bootstrap-sprockets";
@import "bootstrap";

@import "AdminLTE";
@import "skins/skin-blue-light";

.content-wrapper {
  padding: 100px;
  height: 100%;
}

.mid-text {
  text-align: center;
  font-weight: bold;
}