<div class="main-sidebar">
  <div class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img alt="User Image" class="user-image" src="http://placehold.it/160x160" />
      </div>

      <div class="pull-left info">
        <p>
          <%= link_to "#{@current_user.first_name} #{@current_user.last_name}", @current_user %>
        </p>
        <p><span class="glyphicon glyphicon-credit-card"></span> <%= @current_user.gopay %></p>
      </div>
    </div>

    <ul class="sidebar-menu">
      <li class="header">
        HEADER
      </li>
      <li class="active">
        <%= link_to "Set Location", edit_location_path %>
      </li>
      <li><%= link_to "Order History", '#' %></li>
    </ul>
  </div>
</div>